@import url("../../node_modules/normalize.css/normalize.css");
body {
  background: #210e09;
}

.navigation .navigation-container {
  width: 1310px;
  margin: 0 auto;
  padding: 10px 0px;
}
.navigation .navigation-container .navigation-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
.navigation .navigation-container .navigation-content img {
  width: 160px;
  height: 40px;
  cursor: pointer;
}
.navigation .navigation-container .navigation-content .links {
  display: flex;
  justify-content: space-around;
  gap: 30px;
}
.navigation .navigation-container .navigation-content .links a {
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  text-decoration: none;
}
.navigation .navigation-container .navigation-content .links a.active {
  color: #d5621d;
}
.navigation .navigation-container .navigation-content .booking-button {
  width: 200px;
  height: 40px;
  background-color: transparent;
  border: 2px solid #d5621d;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Nunito";
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  transition: all 0.2s ease-in;
}
.navigation .navigation-container .navigation-content .booking-button:hover {
  border: 2px solid white;
  color: #d5621d;
}

.section1 .section1-container {
  width: 1310px;
  margin: 0 auto;
  padding: 10px 0px;
}
.section1 .section1-container .section1-content {
  display: flex;
  margin-top: 30px;
  gap: 25px;
}
.section1 .section1-container .section1-content .section1-main-photo {
  position: relative;
  width: 856px;
  height: 540px;
  background-size: cover;
}
.section1 .section1-container .section1-content .section1-main-photo h2 {
  position: absolute;
  font-family: "Nunito";
  font-size: 18px;
  font-style: normal;
  font-weight: 660;
  letter-spacing: 0.9px;
  color: black;
  left: 60px;
  bottom: 195px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: white;
}
.section1 .section1-container .section1-content .section1-main-photo p {
  position: absolute;
  color: white;
  font-family: "Nunito";
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  bottom: 65px;
  left: 60px;
}
.section1 .section1-container .section1-content .slider-container {
  background-color: #33170b;
  width: 466px;
  height: 540px;
  padding: 18px;
  border-radius: 5px;
  box-sizing: border-box;
}
.section1 .section1-container .section1-content .slider-container h3 {
  cursor: pointer;
  margin: 15px 0px 30px 0px;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: white;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.section1 .section1-container .section1-content .slider-container h3:hover {
  color: #d5621d;
}
.section1 .section1-container .section1-content .slider-container .slider {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  gap: 26px;
  justify-content: space-around;
}
.section1 .section1-container .section1-content .slider-container .slider img {
  width: 160px;
  height: 200px;
}
.section1 .section1-container .section1-content .slider-container .slider .slide {
  cursor: pointer;
  height: 200px;
  opacity: 1;
  transform: translateX(0px);
  transition: opacity 1s ease, transform 1s ease;
}
.section1 .section1-container .section1-content .slider-container .slider .animate-in {
  opacity: 0;
  transform: translateX(30px);
  transition: opacity 1s ease, transform 1s ease;
}
.section1 .section1-container .section1-content .slider-container .slider:hover .slide {
  opacity: 0.4;
}
.section1 .section1-container .section1-content .slider-container .slider:hover .slide:hover {
  opacity: 1;
}
.section1 .section1-container .section1-content .slider-container .slider:hover .slide:hover img {
  transform: scale(1.1);
}

.section2 .section2-container {
  width: 1310px;
  margin: 0 auto;
  padding: 10px 0px;
}
.section2 .section2-container .section2-content .menu-title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2 .section2-container .section2-content .menu-title #watch-logo {
  margin: 100px 0px 50px 0px;
}
.section2 .section2-container .section2-content .menu-title h2 {
  cursor: pointer;
  font-family: "Nunito";
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #fff;
}
.section2 .section2-container .section2-content .menu-title h2::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #d5621d;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.section2 .section2-container .section2-content .menu-title h2:hover::after {
  transform: scaleX(1);
}
.section2 .section2-container .section2-content .slider-menu {
  position: relative;
  display: grid;
  margin-top: 80px;
  grid-template-columns: repeat(2, 485px);
  justify-content: space-around;
  row-gap: 70px;
  opacity: 1;
  transition: opacity 1s ease;
}
.section2 .section2-container .section2-content .slider-menu .slide {
  width: 485px;
  display: flex;
  cursor: pointer;
}
.section2 .section2-container .section2-content .slider-menu .slide img {
  width: 125px;
  height: 125px;
}
.section2 .section2-container .section2-content .slider-menu .slide .info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
  margin-left: 25px;
}
.section2 .section2-container .section2-content .slider-menu .slide .info #title {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #fff;
}
.section2 .section2-container .section2-content .slider-menu .slide .info #price {
  position: absolute;
  right: 0;
  padding: 10px 10px 7px 10px;
  border-radius: 5px;
  border: 2px solid #d5621d;
  font-family: "Nunito";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #fff;
}
.section2 .section2-container .section2-content .slider-menu .slide .info #weight {
  font-family: "Nunito";
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #d5621d;
}
.section2 .section2-container .section2-content .slider-menu .slide .info #description {
  font-family: "Nunito";
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #fff;
}
.section2 .section2-container .section2-content .slider-menu .slide:hover {
  transform: scale(1.1);
  background-color: #33170b;
}
.section2 .section2-container .section2-content .slider-menu .prev-btn {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: #d5621d;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}
.section2 .section2-container .section2-content .slider-menu .next-btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background-color: #d5621d;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
  font-size: 18px;
  color: #fff;
}
.section2 .section2-container .section2-content .slider-menu .prev-btn:active,
.section2 .section2-container .section2-content .slider-menu .next-btn:active {
  opacity: 0.5;
}
.section2 .section2-container .section2-content .animate-in {
  opacity: 0.4;
  transition: all 0.4s ease-in;
}
.section2 .section2-container .section2-content .menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 70px auto 0px auto;
  cursor: pointer;
  width: 175px;
  height: 60px;
  background-color: #d5621d;
  border-radius: 5px;
  border: none;
  font-family: "Nunito";
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: white;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.section2 .section2-container .section2-content .menu-btn:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #d5621d;
  border-radius: 10rem;
  z-index: -2;
}
.section2 .section2-container .section2-content .menu-btn:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgb(255, 81, 0);
  transition: all 0.3s;
  z-index: -1;
}
.section2 .section2-container .section2-content .menu-btn:hover:before {
  width: 100%;
}
.section2 .section2-container .section2-content .pages-quantity {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.section2 .section2-container .section2-content .pages-quantity .pages {
  width: 15px;
  height: 15px;
  border-radius: 50px;
  border: none;
  border: 2px solid white;
  background-color: transparent;
}
.section2 .section2-container .section2-content .pages-quantity .active-page {
  background-color: orange;
}

.section3 .section3-container {
  width: 1310px;
  margin: 0 auto;
  padding: 10px 0px;
}
.section3 .section3-container .section3-content {
  margin-top: 150px;
}
.section3 .section3-container .section3-content .grid-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.section3 .section3-container .section3-content .grid-boxes img {
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 95%;
}
.section3 .section3-container .section3-content .grid-boxes .btn-more {
  width: 130px;
  height: 45px;
  background-color: transparent;
  border-radius: 5px;
  border: 2px solid #d5621d;
  cursor: pointer;
  font-family: "Nunito";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 5.7px;
  text-transform: uppercase;
  color: white;
  transition: all 0.2s ease-in;
}
.section3 .section3-container .section3-content .grid-boxes .btn-more:hover {
  border: 2px solid white;
  color: #d5621d;
}
.section3 .section3-container .section3-content .grid-boxes .box1,
.section3 .section3-container .section3-content .grid-boxes .box2 {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 540px;
}
.section3 .section3-container .section3-content .grid-boxes .box1 h1,
.section3 .section3-container .section3-content .grid-boxes .box2 h1 {
  font-family: "Nunito";
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
  margin: 0;
}
.section3 .section3-container .section3-content .grid-boxes .box1 #text-boxes,
.section3 .section3-container .section3-content .grid-boxes .box2 #text-boxes {
  font-family: "Nunito";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  width: 326px;
  color: white;
  line-height: 19px;
}

.section4 .section4-container {
  width: 1310px;
  margin: 0 auto;
  padding: 10px 0px;
}
.section4 .section4-container .section4-content {
  margin-top: 150px;
}
.section4 .section4-container .section4-content .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4 .section4-container .section4-content .title h1 {
  margin: 50px 0px 50px 0px;
  font-family: "Nunito";
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}
.section4 .section4-container .section4-content .title h1::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #d5621d;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.section4 .section4-container .section4-content .title h1:hover::after {
  transform: scaleX(1);
}
.section4 .section4-container .section4-content .content-container {
  display: flex;
  justify-content: space-around;
}
.section4 .section4-container .section4-content .content-container .drops-down {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section4 .section4-container .section4-content .content-container .drops-down .drop1,
.section4 .section4-container .section4-content .content-container .drops-down .drop2,
.section4 .section4-container .section4-content .content-container .drops-down .drop3,
.section4 .section4-container .section4-content .content-container .drops-down .drop4,
.section4 .section4-container .section4-content .content-container .drops-down .drop5,
.section4 .section4-container .section4-content .content-container .drops-down .drop6 {
  width: 526px;
  padding: 20px 40px;
  border-radius: 10px 10px 0px 0px;
  background-color: #33170b;
  transition: all 0.5s ease-in-out;
}
.section4 .section4-container .section4-content .content-container .drops-down .drop1 .drop-title,
.section4 .section4-container .section4-content .content-container .drops-down .drop2 .drop-title,
.section4 .section4-container .section4-content .content-container .drops-down .drop3 .drop-title,
.section4 .section4-container .section4-content .content-container .drops-down .drop4 .drop-title,
.section4 .section4-container .section4-content .content-container .drops-down .drop5 .drop-title,
.section4 .section4-container .section4-content .content-container .drops-down .drop6 .drop-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.section4 .section4-container .section4-content .content-container .drops-down .drop1 .drop-title p,
.section4 .section4-container .section4-content .content-container .drops-down .drop2 .drop-title p,
.section4 .section4-container .section4-content .content-container .drops-down .drop3 .drop-title p,
.section4 .section4-container .section4-content .content-container .drops-down .drop4 .drop-title p,
.section4 .section4-container .section4-content .content-container .drops-down .drop5 .drop-title p,
.section4 .section4-container .section4-content .content-container .drops-down .drop6 .drop-title p {
  font-family: "Nunito";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
}
.section4 .section4-container .section4-content .content-container .drops-down .drop1 .drop-title .triangle,
.section4 .section4-container .section4-content .content-container .drops-down .drop2 .drop-title .triangle,
.section4 .section4-container .section4-content .content-container .drops-down .drop3 .drop-title .triangle,
.section4 .section4-container .section4-content .content-container .drops-down .drop4 .drop-title .triangle,
.section4 .section4-container .section4-content .content-container .drops-down .drop5 .drop-title .triangle,
.section4 .section4-container .section4-content .content-container .drops-down .drop6 .drop-title .triangle {
  width: 0;
  height: 0;
  display: block;
  border: 10px solid transparent;
  border-top-color: white;
  transition: all 0.3s ease-in-out;
}
.section4 .section4-container .section4-content .content-container .drops-down .drop1 .drop-down-content,
.section4 .section4-container .section4-content .content-container .drops-down .drop2 .drop-down-content,
.section4 .section4-container .section4-content .content-container .drops-down .drop3 .drop-down-content,
.section4 .section4-container .section4-content .content-container .drops-down .drop4 .drop-down-content,
.section4 .section4-container .section4-content .content-container .drops-down .drop5 .drop-down-content,
.section4 .section4-container .section4-content .content-container .drops-down .drop6 .drop-down-content {
  position: absolute;
  display: none;
  background-color: #d5621d;
  z-index: 1;
  opacity: 0;
  border-radius: 0px 0px 10px 10px;
}
.section4 .section4-container .section4-content .content-container .drops-down .active-drop:hover {
  background-color: #d5621d;
  margin-bottom: 140px;
}
.section4 .section4-container .section4-content .content-container .drops-down .active-drop:hover .triangle {
  transform: rotate(180deg);
}
.section4 .section4-container .section4-content .content-container .drops-down .active-drop:hover .active-drop-content {
  margin-top: 20px;
  width: 526px;
  left: 0;
  padding: 20px 40px;
  position: absolute;
  display: block;
  opacity: 1;
}
.section4 .section4-container .section4-content .content-container .drops-down .active-drop:hover .active-drop-content ul {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section4 .section4-container .section4-content .content-container .drops-down .active-drop-last:hover {
  background-color: #d5621d;
  margin-bottom: 100px;
}
.section4 .section4-container .section4-content .content-container .drops-down .active-drop-last:hover .triangle {
  transform: rotate(180deg);
}
.section4 .section4-container .section4-content .content-container .drops-down .active-drop-last:hover .active-drop-content {
  margin-top: 20px;
  width: 526px;
  left: 0;
  padding: 20px 40px;
  position: absolute;
  display: block;
  opacity: 1;
}
.section4 .section4-container .section4-content .content-container .drops-down .active-drop-last:hover .active-drop-content ul {
  margin-left: 15px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.section4 .section4-container .section4-content .content-container .djs-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section4 .section4-container .section4-content .content-container .djs-info h1 {
  margin: 0;
  font-family: "Nunito";
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 1.6px;
  text-transform: uppercase;
  color: white;
  text-align: center;
}
.section4 .section4-container .section4-content .content-container .djs-info .djs-cards {
  display: flex;
  margin-top: 50px;
  gap: 25px;
}
.section4 .section4-container .section4-content .content-container .djs-info .djs-cards .djs1,
.section4 .section4-container .section4-content .content-container .djs-info .djs-cards .djs2 {
  display: flex;
  flex-direction: column;
  gap: 35px;
  text-align: center;
}
.section4 .section4-container .section4-content .content-container .djs-info .djs-cards .djs1 img,
.section4 .section4-container .section4-content .content-container .djs-info .djs-cards .djs2 img {
  cursor: pointer;
  border-radius: 5px;
}
.section4 .section4-container .section4-content .content-container .djs-info .djs-cards .djs1 p,
.section4 .section4-container .section4-content .content-container .djs-info .djs-cards .djs2 p {
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: white;
}
.section4 .section4-container .section4-content .content-container .djs-info .djs-cards .djs1 .icons,
.section4 .section4-container .section4-content .content-container .djs-info .djs-cards .djs2 .icons {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.section4 .section4-container .section4-content .content-container .djs-info .djs-cards .djs1 .icons img,
.section4 .section4-container .section4-content .content-container .djs-info .djs-cards .djs2 .icons img {
  cursor: pointer;
  padding: 6px;
  border-radius: 5px;
  border: 2px solid #d5621d;
}

.footer .container-footer {
  position: relative;
  width: 1310px;
  margin: 0 auto;
}
.footer .container-footer .content-footer {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer .container-footer .content-footer h1 {
  cursor: pointer;
  margin: 50px 0px 80px 0px;
  font-family: "Nunito";
  font-size: 40px;
  font-weight: 400;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}
.footer .container-footer .content-footer h1::after {
  content: "";
  display: block;
  height: 5px;
  background-color: #d5621d;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}
.footer .container-footer .content-footer h1:hover::after {
  transform: scaleX(1);
}
.footer .container-footer .content-footer .contacts-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .container-footer .content-footer .contacts-container .contacts {
  display: inline-block;
  padding: 50px;
  background-color: #33170b;
  text-align: left;
  border-radius: 5px;
  border: 2px solid #d5621d;
}
.footer .container-footer .content-footer .contacts-container .contacts p {
  position: relative;
}
.footer .container-footer .content-footer .contacts-container .contacts p:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: red;
  transition: width 0.5s;
}
.footer .container-footer .content-footer .contacts-container .contacts p:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -3px;
  height: 2px;
  background-color: #d5621d;
  transition: width 0.5s;
}
.footer .container-footer .content-footer .contacts-container .contacts .top {
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
  gap: 25px;
}
.footer .container-footer .content-footer .contacts-container .contacts .top #one,
.footer .container-footer .content-footer .contacts-container .contacts .top #three,
.footer .container-footer .content-footer .contacts-container .contacts .top #five {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: white;
}
.footer .container-footer .content-footer .contacts-container .contacts .top #two,
.footer .container-footer .content-footer .contacts-container .contacts .top #four,
.footer .container-footer .content-footer .contacts-container .contacts .top #six {
  font-family: "Nunito";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: white;
}
.footer .container-footer .content-footer .contacts-container .contacts .bottom {
  display: flex;
  flex-direction: column;
  padding-top: 50px;
  gap: 20px;
  border-top: 1px solid silver;
}
.footer .container-footer .content-footer .contacts-container .contacts .bottom #one,
.footer .container-footer .content-footer .contacts-container .contacts .bottom #three {
  font-family: "Nunito";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: white;
}
.footer .container-footer .content-footer .contacts-container .contacts .bottom #two,
.footer .container-footer .content-footer .contacts-container .contacts .bottom #four {
  font-family: "Nunito";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  color: white;
}
.footer .container-footer .content-footer .contacts-container .map {
  border-radius: 5px;
  border: 3px solid #d5621d;
  position: relative;
  width: 850px;
  height: 650px;
}
.footer .container-footer .content-footer .copyright {
  width: 100%;
  display: flex;
  margin-top: 100px;
  padding: 30px 0px 30px 0px;
  justify-content: space-between;
  border-top: 1px solid silver;
  font-family: "Nunito";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  color: silver;
}

.posters-container {
  width: 1310px;
  margin: 0 auto;
  padding: 10px 0px;
}
.posters-container .posters-content {
  margin-top: 55px;
  text-align: center;
}
.posters-container .posters-content h1 {
  margin: 40px 0px 80px 0px;
  font-family: "Nunito";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;
}
.posters-container .posters-content .posters {
  display: grid;
  grid-template-columns: repeat(4, 305px);
  justify-content: space-between;
  row-gap: 25px;
}
.posters-container .posters-content .posters .poster {
  position: relative;
  cursor: pointer;
}
.posters-container .posters-content .posters .poster img {
  transition: all 0.2s ease-in-out;
  z-index: 0;
  width: 300px;
  height: 350px;
}
.posters-container .posters-content .posters .poster .info {
  transition: all 0.3s ease-in-out;
  opacity: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  bottom: 32px;
  left: 20px;
  gap: 15px;
}
.posters-container .posters-content .posters .poster .info p {
  width: -moz-fit-content;
  width: fit-content;
}
.posters-container .posters-content .posters .poster .info #date {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background-color: #d5621d;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: white;
}
.posters-container .posters-content .posters .poster .info #title {
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: white;
}
.posters-container .posters-content .posters .poster .info #price {
  padding: 8px 15px;
  background-color: transparent;
  border: 2px solid #d5621d;
  border-radius: 5px;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: white;
}
.posters-container .posters-content .posters .poster:hover img {
  opacity: 0.1;
}
.posters-container .posters-content .posters .poster:hover .info {
  opacity: 1;
}

.post-container {
  width: 1310px;
  margin: 0 auto;
  padding: 10px 0px;
}
.post-container .post-content {
  margin-top: 55px;
  display: flex;
  justify-content: center;
  gap: 40px;
}
.post-container .post-content img {
  border-radius: 5px;
}
.post-container .post-content .info {
  padding: 20px;
  border: 1px solid #d5621d;
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.post-container .post-content .info p {
  width: -moz-fit-content;
  width: fit-content;
}
.post-container .post-content .info #date {
  padding: 8px 15px;
  border-radius: 5px;
  border: none;
  background-color: #d5621d;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: white;
}
.post-container .post-content .info #title {
  font-family: "Nunito";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: white;
}
.post-container .post-content .info #price {
  padding: 8px 15px;
  background-color: transparent;
  border: 2px solid #d5621d;
  border-radius: 5px;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: white;
}
.post-container .post-content .info #description {
  width: 300px;
  font-family: "Nunito";
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 0.7px;
  text-transform: uppercase;
  color: white;
}

.menu-container {
  width: 1310px;
  margin: 0 auto;
  padding: 10px 0px;
}
.menu-container .menu-content {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.menu-container .menu-content #watch-logo {
  display: flex;
  margin: 0 auto;
}
.menu-container .menu-content .selects {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}
.menu-container .menu-content .selects select {
  font-family: "Nunito";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
  height: 30px;
  background-color: #d5621d;
  border: none;
  border-top-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.menu-container .menu-content .selects option {
  display: flex;
  gap: 20px;
  font-size: 13px;
  background-color: #33170b;
}
.menu-container .menu-content .menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
  height: 600px;
  margin-top: 80px;
  padding-top: 20px;
  overflow: scroll;
  overflow-x: hidden;
  position: relative;
  opacity: 1;
  transition: opacity 1s ease;
}
.menu-container .menu-content .menu .slide {
  width: 485px;
  display: flex;
  padding: 20px;
  border: 1px solid #d5621d;
  border-top-left-radius: 37px 140px;
  border-top-right-radius: 23px 130px;
  border-bottom-left-radius: 110px 19px;
  border-bottom-right-radius: 120px 24px;
  cursor: pointer;
}
.menu-container .menu-content .menu .slide img {
  width: 125px;
  height: 125px;
}
.menu-container .menu-content .menu .slide .info {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px 0;
  margin-left: 25px;
}
.menu-container .menu-content .menu .slide .info #title {
  font-family: "Nunito";
  font-size: 18px;
  font-weight: 800;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #fff;
}
.menu-container .menu-content .menu .slide .info #price {
  position: absolute;
  right: 0;
  padding: 10px 10px 7px 10px;
  border-radius: 5px;
  border: 2px solid #d5621d;
  font-family: "Nunito";
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #fff;
}
.menu-container .menu-content .menu .slide .info #weight {
  font-family: "Nunito";
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #d5621d;
}
.menu-container .menu-content .menu .slide .info #description {
  font-family: "Nunito";
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.9px;
  text-transform: uppercase;
  color: #fff;
}
.menu-container .menu-content .menu .slide:nth-child(2n+1) {
  margin-right: 400px;
}
.menu-container .menu-content .menu .slide:nth-child(2n) {
  margin-left: 400px;
}
.menu-container .menu-content .menu .slide:hover {
  transform: scale(1.1);
  background-color: #33170b;
}
.menu-container .menu-content .menu::-webkit-scrollbar {
  width: 12px;
}
.menu-container .menu-content .menu::-webkit-scrollbar-track {
  border-radius: 8px;
  background-color: white;
  border: 1px solid #cacaca;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
.menu-container .menu-content .menu::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #d5621d;
}/*# sourceMappingURL=main.css.map */