.posters-container {
  width: 1310px;
  margin: 0 auto;
  padding: 10px 0px;
  .posters-content {
    margin-top: 55px;
    text-align: center;
    h1 {
      margin: 40px 0px 80px 0px;
      font-family: $main-font-family;
      font-size: 40px;
      font-style: normal;
      font-weight: 700;
      letter-spacing: 2px;
      text-transform: uppercase;
      color: white;
    }
    .posters {
      display: grid;
      grid-template-columns: repeat(4, 305px);
      justify-content: space-between;
      row-gap: 25px;
      .poster {
        position: relative;
        cursor: pointer;
        img {
          transition: all 0.2s ease-in-out;
          z-index: 0;
          width: 300px;
          height: 350px;
        }
        .info {
          transition: all 0.3s ease-in-out;
          opacity: 0;
          position: absolute;
          display: flex;
          flex-direction: column;
          z-index: 1;
          bottom: 32px;
          left: 20px;
          gap: 15px;
          p {
            width: fit-content;
          }
          #date {
            padding: 8px 15px;
            border-radius: 5px;
            border: none;
            background-color: $orange-background-color;
            font-family: $main-font-family;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.7px;
            text-transform: uppercase;
            color: white;
          }
          #title {
            font-family: $main-font-family;
            font-size: 20px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.9px;
            text-transform: uppercase;
            color: white;
          }
          #price {
            padding: 8px 15px;
            background-color: transparent;
            border: 2px solid $orange-background-color;
            border-radius: 5px;
            font-family: $main-font-family;
            font-size: 16px;
            font-style: normal;
            font-weight: 700;
            letter-spacing: 0.7px;
            text-transform: uppercase;
            color: white;
          }
        }
      }
      .poster:hover {
        img {
          opacity: 0.1;
        }
        .info {
          opacity: 1;
        }
      }
    }
  }
}
