body {
  background: $main-background;
}
.navigation {
  .navigation-container {
    width: 1310px;
    margin: 0 auto;
    padding: 10px 0px;
    .navigation-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 20px;
      img {
        width: 160px;
        height: 40px;
        cursor: pointer;
      }
      .links {
        display: flex;
        justify-content: space-around;
        gap: 30px;
        a {
          font-family: $main-font-family;
          font-size: 14px;
          font-weight: 600;
          letter-spacing: 2px;
          color: white;
          text-decoration: none;
        }
      }
      .links a.active {
        color: $orange-background-color;
      }
      .booking-button {
        width: 200px;
        height: 40px;
        background-color: transparent;
        border: 2px solid $orange-background-color;
        border-radius: 5px;
        cursor: pointer;

        font-family: $main-font-family;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 2px;
        color: white;
        transition: all 0.2s ease-in;
      }
      .booking-button:hover {
        border: 2px solid white;
        color: $orange-background-color;
      }
    }
  }
}
